# ? Server Configuration
HOST=localhost
PORT=5000

# ? Database Configuration (PostgreSQL)
PGUSER=<username_postgres_anda>
PGPASSWORD=<password_postgres_anda>
PGDATABASE=openjob_db
PGHOST=localhost
PGPORT=5432